* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #F5F5F5;
    font-family: 'Work Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.25;
    font-family: 'Crimson Text', serif;
    margin: 0;
    padding: 0;

}


h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

/* CSS for navigation */
.section-header {
    background-color: #74C69D;
    padding-top: 35px;
    padding-bottom: 80px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    font-size: 20px;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
}

.logo-column {
    display: flex;
}

.nav-list {
    display: flex;
    justify-content: flex-end;

}

.logo-image {
    width: 100%;
    max-width: 70px;
    height: 48.31px;
}

.logo-heading {
    font-family: 'Work Sans';
    margin: 0;
    color: white;
    padding: 0px 18px;
}


/*Banner Section*/
.banner {
    background-color: #74C69D;
}

.sub-heading {
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.green-colored {
    color: #74C69D;
    letter-spacing: 5px;
}

.black-colored {
    color: black;
}


.banner-heading {
    font-size: 40px;
    color: white;
    margin: 15px 0 15px;
}

.banner-paragraph {
    color: white;
}



.banner-button {
    text-decoration: none;
    color: black;
    background: white;
    border-radius: 5px;
    padding: 15px 48px;

}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.banner-image {
    max-width: 100%;
    width: 100%;
    margin-bottom: 85px;
    text-align: left;
}

/*Partner Section */

.partners-content {
    max-width: 410px;
    padding-top: 60px;
    text-align: center;
    margin: auto;
}

.partner-image {
    max-width: 100%;
    width: 100%;
}

.partner-apps {
    margin-top: 60px;
    align-items: center;
    margin-bottom: 60px;
}

.partner-heading {
    margin-top: 16px;
    margin-bottom: 16px;
}

.button {
    background-color: #212529;
    color: white;
    border-radius: 5px;
    padding: 13px 30px;
    text-decoration: none;
}

.partners-button {
    text-align: center;
}

/* Friends Section */
.friends-section {
    margin-top: 75px;
}

.friends-image {
    max-width: 100%;
}

.friends-content {
    text-align: left;
    margin-left: 130px;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    color: black;
    font-size: 40px;
}

.paragraph {
    color: rgba(33, 37, 41, 0.5);
    margin: 16px 0 30px;
}

/* Work Section */
.work-image {
    max-width: 100%;
}

.work-content {
    margin-right: 110px;
    text-align: left;

}

/*Team Section */
.talent-section {
    margin-top: 100px;
}

.talent-content {
    max-width: 400px;
    text-align: center;
    margin: auto;
}

.talent-heading {
    margin: 16px 0 16px;
}

.talent-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 45px;
}


.employee-heading {
    font-size: 24px;
    padding: 17px 0 17px;
}

.employee-sub-heading {
    font-size: 15px;
    font-weight: 400;
    color: rgba(33, 37, 41, 0.75);
}

.box {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
}

.button-wrapper {
    margin-top: 45px;
    text-align: center;
}

/* Footer */

footer {
    width: 100%;
    background: #74C69D;
    margin-top: 65px;
    padding: 50px 130px;
}

.footer-heading {
    font-size: 20px;
    color: white
}

.icon-wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.footer-text-wrapper {
    display: flex;
    justify-content: flex-end;
}